.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form-box {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 30px 30px 30px;
    width: 600px;
    border-radius:
        5px;
}

.register-form-header {
    margin-bottom: 40px;
}

.register-form-header h2 {
    font-size: 26px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.register-form-header p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0;
}

.register-form-header p a {
    text-decoration: none;
    color: #0e74bd;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: calc(100% - 30px);
    padding: 16px;
    border-radius: 5px;
    border: 1px solid #787878;
}

button {
    margin-top: 5px;
    background-color: #0e74bd;
    border: none;
    color: #fff;
    padding: 12px 40px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}